* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.main {
    width: auto;
    background-color: #333333;
    text-align: center;
    /*border: 1px solid #cccccc;*/
    border-radius: 15px;
    height: 100vh;
    scroll-behavior: smooth;
    position: relative;
}

.main header {
    height: 30px;
    margin: 14px 15px 5px;
}

.main header .nav {
    display: flex;
    justify-content: space-between;
}

.main header ul li {
    list-style: none;
}
/*
.main header ul li:nth-child(2) a {
    padding: 8px 13px;
}
*/
.main header ul li:nth-child(2) a {
    border-radius: 6px;
}

.main header ul li a .down {
    transform: translateY(-2px);
}

.main header ul li a {
    color: var(--bs-light);
    text-decoration: none;
    position: relative;
    padding: 8px 11px;
    border-radius: 20px;
    transition: 0.3s;
}

.main header ul li a:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

.main header ul li a span {
    padding: 3px 7px 3px 4px;
}

.main .images-and-btns .cover {
    background-color: #131313;
    height: 175px;
    width: 100%;
}

.main .images-and-btns .profile-pic-container {
    transform: translateY(-100px);
    display: flex;
    margin-left: 10px;
    position: relative;
    width: 160px;
    height: 160px;
}

.main .images-and-btns .profile-pic-container .profile-pic {
    border: 3px solid var(--bs-light);
    background-color: var(--bs-light);
    transition: 0.1s;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    object-fit: cover;
}

.main .images-and-btns .profile-pic-container .profile-pic:hover {
    opacity: 0.90;
}

.main .images-and-btns .profile-pic-container .profile {
    display: flex;
    transform: translateX(130px);
    color: rgba(229, 230, 235, 0.85);
    border-radius: 20px;
    transition: 0.3s;
    background-color: rgba(100, 100, 100, 0.5);
    cursor: pointer;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
}

.badge {
    width: 18px;
    height: 18px;
}

.main .images-and-btns .profile-pic-container input {
    display: none;
}

.main .images-and-btns .profile-pic-container .profile label {
    cursor: pointer;
}

.main .images-and-btns .profile-pic-container .profile:hover {
    background-color: rgba(100, 100, 100, 0.8);
}

.main .images-and-btns .profile-pic-container .profile:active {
    background-color: rgba(100, 100, 100, 0.95);
}

.main .info-1 {
    transform: translateY(-100px);
    color: var(--bs-light);
    margin-left: 10px;
}

.main .info-1 .name {
    font-weight: 600;
    font-size: 22px;
    color: #e4e4ec;
}

.main .info-1 .bio {
    font-size: 14px;
}

.main .images-and-btns .buttons button {
    margin-right: 10px;
    width: 169px;
    height: 37px;
    margin-bottom: 5px;
    transition: 0.2s;
}

.main .images-and-btns .buttons button:active {
    transform: scale(0.99);
}

.main .images-and-btns .buttons .story-btn {
    background-color: rgb(26, 116, 228);
    color: rgb(229, 230, 235);
    border: none;
}

.main .images-and-btns .buttons .story-btn:hover {
    background-color: rgba(26, 116, 228, 0.9);
}

.main .images-and-btns .buttons .story-btn:active {
    background-color: rgba(26, 116, 228, 0.8);
}

.main .images-and-btns .buttons .edit-btn {
    background-color: rgba(100, 100, 100, 0.3);
    color: rgba(229, 230, 235, 0.85);
    border: none;
}

.main .images-and-btns .buttons .edit-btn:hover {
    background-color: rgba(100, 100, 100, 0.6);
}

.main .images-and-btns .buttons .edit-btn:active {
    background-color: rgba(100, 100, 100, 0.9);
}

.main .images-and-btns .buttons .more-btn {
    width: 50px;
    background-color: rgba(100, 100, 100, 0.3);
    color: rgba(229, 230, 235, 0.85);
    border: none;
}

.main .images-and-btns .buttons .more-btn:hover {
    background-color: rgba(100, 100, 100, 0.6);
}

.main .images-and-btns .buttons .more-btn:active {
    background-color: rgba(100, 100, 100, 0.9);
}

.hr-1 {
    position: relative;
}

.hr-1::before {
    content: "";
    position: absolute;
    background-color: var(--bs-dark);
    border-top: 1px solid rgba(248, 249, 250, 0.2);
    width: 100%;
    height: 15px;
    left: 50%;
    bottom: -10px;
    transform: translate(-50% ,-90px);
}

.main .info-2 {
    transform: translateY(-85px);
    color: var(--bs-light);
    margin-left: 10px;
    padding: 5px 0;
    display: flex;
}

.main .info-2 button {
    border-radius: 30px;
    margin-top: 5px;
    padding: 5px 10px;
    /* color: var(--bs-light); */
    color: #b0b3b8;
    margin-right: 5px;
    transition: 0.2s;
}

.main .info-2 button:hover {
    border-color: transparent;
    background-color: rgba(100, 100, 100, 0.6);
    color: #b0b3b8;
}

.main .info-2 .active-btn {
    color: #73b7ff;
    background-color: rgba(71, 131, 221, 0.3);
}

.main .info-2 .active-btn:hover {
    background-color: rgba(157, 184, 224, 0.3);
    color: #73b7ff;
}

.hr-2 {
    position: relative;
}

.hr-2::before {
    content: "";
    position: absolute;
    background-color: var(--bs-light);
    opacity: 0.1;
    width: 100%;
    height: 1px;
    left: 50%;
    bottom: -10px;
    transform: translate(-50% ,-93px);
}

.scrollbar {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    transform: translateX();
}

.scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 100px;
    transform: translateX(50%);
}

.scrollbar::-webkit-scrollbar-track {
    background-color: var(--bs-light);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--bs-gray);
}

.main .info-3 {
    transform: translateY(-85px);
    color: #e5e6eb;
    margin-left: 10px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.main .info-3 .icons p {
    padding-right: 10px;
    color: rgba(229, 230, 235, 0.85);
    transition: 0.3s;
}

.fa-instagram,
.fa-pinterest
{
    font-size: 20px;
}


/* utilities classes */
.mr4 {
    margin-right: 4px;
}

.mr6 {
    margin-right: 6px;
}

.mr7 {
    margin-right: 7px;
}

.mr8 {
    margin-right: 8px;
}

.mr10 {
    margin-right: 10px;
}
/* ----------------------- */

.main .info-3 .icons i {
    opacity: 0.8;
}

.main .info-3 .icons a {
    margin-left: 5px;
    text-decoration: none;
    color: inherit;
}

.main .info-3 .icons p:hover {
    color: var(--bs-light);
    opacity: 0.95;
}

.main .info-3 button {
    border-radius: 5px;
    padding: 5px 10px;
    color: #b0b3b8;
    margin-right: 10px;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
}

.main .info-3 button:hover {
    background-color: rgba(100, 100, 100, 0.6);
    color: #b0b3b8;
    border-color: transparent;
}

.main .info-3 .active-btn {
    color: #73b7ff;
    background-color: rgba(71, 131, 221, 0.3);
}

.main .info-3 .active-btn:hover {
    background-color: rgba(157, 184, 224, 0.3);
    color: #73b7ff;
}

.hr-3 {
    position: relative;
}

.hr-3::before {
    content: "";
    position: absolute;
    background-color: var(--bs-light);
    opacity: 0.1;
    width: 100%;
    height: 1px;
    left: 50%;
    bottom: -15px;
    transform: translate(-50% ,-93px);
}

.main .info-4 {
    transform: translateY(-85px);
    color: var(--bs-light);
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    margin-top: 15px;
}

.main .friends {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.main .friends span {
    opacity: 0.75;
    font-size: 16px;
    font-weight: 400;
}

.main .friends a {
    text-decoration: none;
    padding: 5px 10px;
    color: #73b7ff;
    border-radius: 5px;
    transition: 0.2s;
}

.main .friends a:hover {
    background-color: rgba(157, 184, 224, 0.3);
    color: #73b7ff;
}

.main .profile-2 {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 1px;
    transform: translate(191px,8px);
    color: var(--bs-light);
    border-radius: 20px;
    transition: 0.3s;
    background-color: rgba(100, 100, 100, 0.5);
    cursor: pointer;
    width: 8%;
}

.main .profile-2 label {
    cursor: pointer;
}

.main .profile-2:hover {
    background-color: rgba(100, 100, 100, 0.8);
}

.main .friend {
    display: flex;
    justify-content: space-between;
}

.main .friend .album img {
    width: 130px;
    height: 130px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.main .friend .album img:hover {
    transform: scale(1.04);
    opacity: .85;
}

.main .friend .album h6 {
    text-transform: capitalize;
    cursor: default;
}

@media (max-width:460px) {
    .main {
        border-radius: 0px;
    }
}

@media (max-width:400px) {
    .main .friend .album img {
        width: 120px;
        height: 120px;
    }
}
@media (max-width:380px) {
    .main .friend .album img {
        width: 115px;
        height: 115px;
    }
}
@media (max-width:360px) {
    .main .friend .album img {
        width: 110px;
        height: 110px;
    }
}
@media (max-width:355px) {
    .main .friend .album img {
        width: 107px;
        height: 107px;
    }
}
@media (max-width:350px) {
    .main .friend .album img {
        width: 104px;
        height: 104px;
    }
}