* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
    color: #000;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.main {
    width: auto;
    background-color: #333333;
    text-align: center;
    /*border: 1px solid #cccccc;*/
    border-radius: 15px;
    height: 100vh;
    scroll-behavior: smooth;
    position: relative;
}

.main header {
    height: 30px;
    margin: 14px 15px 5px;
}

.main header .nav {
    display: flex;
    justify-content: space-between;
}

.main header ul li {
    list-style: none;
}

.main header ul li a .down {
    transform: translateY(-2px);
}

.main header ul li a {
    color: var(--bs-light);
    text-decoration: none;
    position: relative;
    padding: 8px 11px;
    border-radius: 20px;
    transition: 0.3s;
}

.main header ul li a:hover {
    background-color: rgba(100, 100, 100, 0.5);
}

.main header ul li a span {
    padding: 3px 7px 3px 4px;
}

.main .images-and-btns .cover {
    background-color: #131313;
    height: 175px;
}

.main .images-and-btns .profile-pic-container {
    transform: translateY(-100px);
    display: flex;
    margin-left: 10px;
}

.main .images-and-btns .profile-pic-container .profile-pic {
    border: 3px solid var(--bs-light);
    background-color: var(--bs-light);
    transition: 0.1s;
}

.main .images-and-btns .profile-pic-container .profile-pic:hover {
    opacity: 0.90;
}

.main .images-and-btns .profile-pic-container .profile {
    display: flex;
    transform: translateX(130px);
    color: var(--bs-light);
    border-radius: 20px;
    transition: 0.3s;
    background-color: rgba(100, 100, 100, 0.5);
    cursor: pointer;
    width: 38px;
    height: 38px;
    align-items: center;
    justify-content: center;
}

.badge {
    width: 18px;
    height: 18px;
}

.main .images-and-btns .profile-pic-container input {
    display: none;
}

.main .images-and-btns .profile-pic-container .profile label {
    cursor: pointer;
}

.main .images-and-btns .profile-pic-container .profile:hover {
    background-color: rgba(100, 100, 100, 0.8);
}

.main .info-1 {
    transform: translateY(-100px);
    color: var(--bs-light);
    margin-left: 10px;
}

.main .info-1 .name {
    font-weight: 600;
    font-size: 22px;
}

.main .info-1 .bio {
    font-size: 14px;
}

.main .images-and-btns .buttons button {
    margin-right: 10px;
    width: 169px;
    height: 37px;
    margin-bottom: 5px;
}

.main .images-and-btns .buttons .more-btn {
    width: 50px;
}

.hr-1 {
    position: relative;
}

.hr-1::before {
    content: "";
    position: absolute;
    background-color: var(--bs-dark);
    border-top: 1px solid rgba(248, 249, 250, 0.2);
    width: 100%;
    height: 15px;
    left: 50%;
    bottom: -10px;
    transform: translate(-50% ,-90px);
}

.main .info-2 {
    transform: translateY(-85px);
    color: var(--bs-light);
    margin-left: 10px;
    padding: 5px 0;
    display: flex;
}

.main .info-2 button {
    border-radius: 30px;
    margin-top: 5px;
    padding: 5px 10px;
    color: var(--bs-light);
    margin-right: 5px;
    transition: 0.2s;
}

.main .info-2 button:hover {
    background-color: var(--bs-secondary);
}

.main .info-2 .active-btn {
    color: #7fa5d6;
    background-color: #4783dd56;
}

.main .info-2 button:active {
    border-color: transparent;
    transform: scale(0.97);
}

.hr-2 {
    position: relative;
}

.hr-2::before {
    content: "";
    position: absolute;
    background-color: var(--bs-light);
    opacity: 0.1;
    width: 100%;
    height: 1px;
    left: 50%;
    bottom: -10px;
    transform: translate(-50% ,-93px);
}

.scrollbar {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent;
    transform: translateX();
}

.scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 100px;
    transform: translateX(50%);
}

.scrollbar::-webkit-scrollbar-track {
    background-color: var(--bs-light);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--bs-gray);
}

.main .info-3 {
    transform: translateY(-85px);
    color: var(--bs-light);
    margin-left: 10px;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.main .info-3 .icons p {
    padding-right: 10px;
}

.fa-instagram,
.fa-pinterest
{
    font-size: 20px;
}

.mr4 {
    margin-right: 4px;
}

.mr6 {
    margin-right: 6px;
}

.mr7 {
    margin-right: 7px;
}

.mr8 {
    margin-right: 8px;
}

.mr10 {
    margin-right: 10px;
}

.main .info-3 .icons i {
    opacity: 0.8;
}

.main .info-3 .icons a {
    margin-left: 5px;
    text-decoration: none;
    color: inherit;
}

.main .info-3 button {
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--bs-light);
    margin-right: 10px;
    transition: 0.2s;
}

.main .info-3 button:hover {
    background-color: var(--bs-secondary);
}

.main .info-3 .active-btn {
    color: #7fa5d6;
    background-color: #4783dd56;
}

.main .info-3 button:active {
    border-color: transparent;
    transform: scale(0.995);
}

.hr-3 {
    position: relative;
}

.hr-3::before {
    content: "";
    position: absolute;
    background-color: var(--bs-light);
    opacity: 0.1;
    width: 100%;
    height: 1px;
    left: 50%;
    bottom: -15px;
    transform: translate(-50% ,-93px);
}

.main .info-4 {
    transform: translateY(-85px);
    color: var(--bs-light);
    margin-left: 10px;
    /*padding: 5px 0;*/
    display: flex;
    margin-top: 15px;
}

.main .friends {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.main .friends span {
    opacity: 0.75;
    font-size: 16px;
    font-weight: 400;
}

.main .friends a {
    text-decoration: none;
    padding: 5px 10px;
    color: #7fa5d6;
    border-radius: 5px;
    transition: 0.2s;
}

.main .friends a:hover {
    background-color: var(--bs-secondary);
}
/*
.main .images-and-btns .profile-pic-container .profile-pic {
    border: 3px solid var(--bs-light);
    background-color: var(--bs-light);
    transition: 0.1s;
}

.main .images-and-btns .profile-pic-container .profile-pic:hover {
    opacity: 0.90;
}
*/
.main .profile-2 {
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 1px;
    transform: translate(191px,8px);
    color: var(--bs-light);
    border-radius: 20px;
    transition: 0.3s;
    background-color: rgba(100, 100, 100, 0.5);
    cursor: pointer;
    width: 8%;
}

.main .profile-2 label {
    cursor: pointer;
}

.main .profile-2:hover {
    background-color: rgba(100, 100, 100, 0.8);
}

.main .friend {
    display: flex;
    justify-content: space-between;
}

.main .friend .album img {
    width: 130px;
    height: 130px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.1s;
}

.main .friend .album img:hover {
    opacity: 0.9;
}

.main .friend .album h6 {
    text-transform: capitalize;
    /* margin-left: 5px; */
}

@media (max-width:460px) {
    .main {
        border-radius: 0px;
    }
}
